<div class="row">
  <div class="col-md-3">
    <ins class="adsbygoogle"
          style="display:block"
          data-ad-client=""
          data-ad-slot=""
          data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="col-md-6 text-center">
      <h3>Image Filetype Converter</h3>
      <h6>Convert images to different filetypes.</h6>
      <p class="text-muted" style="font-size: 10px;">
          <i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;JPG&nbsp;
          <i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;GIF&nbsp;
          <i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;PNG&nbsp;
          <i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;TIF&nbsp;
          <i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;SVG
      </p>
      <br/>
      <div>
          <% if !flash[:notice].nil? %>
          <p style="color: red;font-size: 12px;"><%= flash[:notice] %></p>
          <% end %>
      </div>
      <div>
        <%= render 'form', convert_image: @convert_image %>
      </div>
  </div>
  <div class="col-md-3">
    <ins class="adsbygoogle"
          style="display:block"
          data-ad-client=""
          data-ad-slot=""
          data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
