<div class="row">
    <div class="col-md-12 text-center">
        <%= image_tag asset_url('picture.png'), class: "width-250px" %>
        <h1>Image Converter</h1>
        <br/>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client=""
             data-ad-slot=""
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <br/>
        <%= link_to 'Quick Image Editor', images_path, class: 'btn btn-success btn-sm' %>&nbsp;<%= link_to 'Image Filetype Converter', convert_images_path, class: 'btn btn-success btn-sm' %>
    </div>
</div>
