<%= form_with(model: image, local: true) do |form| %>
  <%= hidden_field_tag :remote, true %>
  <%= hidden_field_tag  :image_url, "" %>
<div class="form-group">
  <%= form.submit "Edit This Image", class: 'btn btn-success btn-sm link-button' %>
</div>
<% end %>