<div class="row">
  <div class="col-md-3">
    <ins class="adsbygoogle"
          style="display:block"
          data-ad-client=""
          data-ad-slot=""
          data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="col-md-6 text-center">
      <h3>Quick Image Editor</h3>
      <h6>Quickly edit and generate images in many sizes for different platforms.</h6>
      <p class="text-muted" style="font-size: 10px;">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;Facebook&nbsp;
          <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;Twitter&nbsp;
          <i class="fa fa-google-plus-official" aria-hidden="true"></i>&nbsp;Google+&nbsp;
          <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;Instagram&nbsp;
          <i class="fa fa-pinterest" aria-hidden="true"></i>&nbsp;Pinterest&nbsp;
          <i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp;LinkedIn&nbsp;
          <i class="fa fa-youtube" aria-hidden="true"></i>&nbsp;YouTube&nbsp;
          <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>&nbsp;Snapchat&nbsp;<br/>
          <i class="fa fa-twitch" aria-hidden="true"></i>&nbsp;Twitch&nbsp;
          <i class="fa fa-tumblr" aria-hidden="true"></i>&nbsp;Tumblr&nbsp;
          <i class="fa fa-vk" aria-hidden="true"></i>&nbsp;VK (Vkontakte)&nbsp;
          <i class="fa fa-odnoklassniki" aria-hidden="true"></i>&nbsp;OK (Odnoklassniki)&nbsp;
          <i class="fa fa-globe" aria-hidden="true"></i>&nbsp;Web Banners&nbsp;
          <i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print Media
      </p>
      <br/>
      <div>
          <% if !flash[:notice].nil? %>
          <p style="color: red;font-size: 12px;"><%= flash[:notice] %></p>
          <% end %>
      </div>
      <div>
        <%= render 'form_local', image: @image %>
      </div>
  </div>
  <div class="col-md-3">
    <ins class="adsbygoogle"
          style="display:block"
          data-ad-client=""
          data-ad-slot=""
          data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
