<div class="row">
  <div class="col-md-2">
    <!-- AllPic.site > index > left -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3614469044994240"
        data-ad-slot="8660794748"
        data-ad-format="auto"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  </div>
  <div class="col-md-8 text-center" style="background: white; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
    <br/>
    <h1>AllPic.site</h1>
    <p style="margin-bottom: 0; font-weight: bold;">Easily edit and generate images in different pixel sizes.</p>
    
    <p class="text-muted" style="font-size: 12px;">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;Facebook&nbsp;
        <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;Twitter&nbsp;
        <i class="fa fa-google-plus-official" aria-hidden="true"></i>&nbsp;Google+&nbsp;
        <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;Instagram&nbsp;
        <i class="fa fa-pinterest" aria-hidden="true"></i>&nbsp;Pinterest&nbsp;
        <i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp;LinkedIn&nbsp;
        <i class="fa fa-youtube" aria-hidden="true"></i>&nbsp;YouTube&nbsp;<br/>
        <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>&nbsp;Snapchat&nbsp;
        <i class="fa fa-twitch" aria-hidden="true"></i>&nbsp;Twitch&nbsp;
        <i class="fa fa-tumblr" aria-hidden="true"></i>&nbsp;Tumblr&nbsp;      
        <i class="fa fa-vk" aria-hidden="true"></i>&nbsp;VK (Vkontakte)&nbsp;
        <i class="fa fa-odnoklassniki" aria-hidden="true"></i>&nbsp;OK (Odnoklassniki)&nbsp;
        <i class="fa fa-globe" aria-hidden="true"></i>&nbsp;Web Banners&nbsp;
        <i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print Media
    </p>
    <div>
      <%= render 'form_local', image: @image %>
    </div>
    <% if !flash[:notice].nil? %>
      <p style="color: red;font-size: 12px;"><%= flash[:notice] %></p>
    <% end %>
    <ul style="list-style-type: none; padding:0; margin-bottom:16px; font-size: 12px;">
      <li><strong>Filetypes allowed:</strong> jpg, jpeg, gif, png</li>
      <li><strong>Maximum filesize allowed:</strong> 5 MB</li>
    </ul>
    <% unless @current_session.nil? %>
      <%= link_to 'Click here to return to your current session', image_path(@current_session) %>
    <% end %>
    <hr/>
    <p style="font-size: 11px;">Selecting an image and proceeding to the next step will clear any sessions you have and start a new session.<br/>Sessions lasts 1 hour and will expire thereafter.</p>
    <hr/>
    <p style="font-size: 11px;">Copyright © <%= Date.today.year %> AllPic.site. All rights reserved. All other registered trademarks or trademarks are property of their respective owners.</p>    
  </div>
  <div class="col-md-2">
    <!-- AllPic.site > index > right -->
    <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-3614469044994240"
          data-ad-slot="6007491494"
          data-ad-format="auto"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  </div>
</div>