
    <footer class="footer">
        <div class="row">
            <div class="col-md-12">
                    <hr/>
                    <p class="text-center" style="font-size: 11px;">Copyright © <%= Date.today.year %> AllPic.site. All rights reserved. All other registered trademarks or trademarks are property of their respective owners.</p>                    
            </div>
        </div>
    </footer>
